%h1= @item.name

= "Added at #{@item.added_at}"
%a.open_folder{:href => "file://#{@item.path}" } open folder (nautilus)

- render = proc { |i| "<a href=\"/tag/#{i.id}\">#{i.name}</a>" }
= group_items_html(@grouped_items, :title => @title, :render => render)

- unless @item.images.empty?
  #images.span-24.last
    %h2= "Images"

%script{:type=>"text/javascript"}= "var images=#{@item.images.to_a.to_json}"
:javascript
  $(function() {
      $('a.open_folder').click(function() {
        var f = $('a.open_folder')[0].href;
        // alert("open folder " + f);
        $.ajax({
          type: 'POST',
          url: '/ajax/open_folder',
          data: {dir: f}
        });
      });
  });

%script{:type=>"text/javascript", :src=>'/js/simple_catalog/images.js'}
